@media screen and (min-width: 768px) {
  .navbar-collapse {
    padding-left:0px;
  }
  .reduce-logo-padding {
    padding: 5px 1rem;
  }
}

.nav-tabs-solid .nav-item.show .nav-link.active, .nav-tabs-solid .nav-link.active {
    background-color: #324148;
}

.content {
    padding: 0.25rem 1.25rem;
}

.navbar-theme {
    background-color: #7335EB;
}


.navbar-light .navbar-nav-link:focus, .navbar-light .navbar-nav-link:hover {
    color: #ccc;
    background-color: transparent;
}
.navbar-light .active>.navbar-nav-link, .navbar-light .navbar-nav-link.active, .navbar-light .navbar-nav-link.show, .navbar-light .show>.navbar-nav-link {
    color: #fff;
    background-color: transparent;
}

.navbar-light .navbar-nav-highlight .navbar-nav-link.active:before {
    background-color: #e9e9ec;
}

.navbar-light .navbar-nav-link {
    color: #fff;
}

.help-block {
  color: #ff7043;
}
